.favorite{
    margin-left: 300px;
    font-size: 30px;
    margin-top: 200px;
    cursor: pointer;
    color: slateblue;
}
.favorite .fa fa-heart{
    background-color: red;
}
.liked{
    margin-left: 200px;
    font-size: 30px;
    cursor: pointer;
    color: slategray;
}

.information{
    font-size: 30px;
    margin: 25px;
    border: slategrey solid 1px;
    border-radius: 10px;
}