{%load static%}
<!DOCTYPE html>
<html>
<head>
 <title>e-commarce</title>   
<link rel="stylesheet" href="{%static 'sign.css'%}">
<link rel="stylesheet" href="{%static 'login.css'%}">
<link rel="stylesheet" href="{%static 'style.css'%}">
<link rel="stylesheet" href="{%static 'profile.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
     let user='{{request.user}}'   
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
</head>
<body>

    {%block body%}

    {%endblock%}
    <script src="{%static 'script3.js'%}"></script>
    <script src="{%static 'script4.js'%}"></script>


</body>    
</html>