{%load static%}
<!DOCTYPE html>
<html>
<head>    
<title>e-commarce</title>
<link rel="stylesheet" href="{%static 'style.css'%}">
<link rel="stylesheet" href="{%static 'style2.css'%}">

</head>
<body>
    <nav class="nav">
        {%if user.is_authenticated%}
        <h1 class="sign">{{user.first_name}} :<a href="{%url 'logout'%}">Logout</a></h1>
        {%else%}
        <h1 class="sign"><a href="{%url 'sign'%}">Sign in</a></h1>
        {%endif%}
       <h1>Home</h1>
       <h1>New collection</h1>
       <h1><a href="{%url 'men'%}">men</a></h1>
       <h1><a href="{%url 'women'%}">woman</a></h1>
       {%if user.is_authenticated%}
       <h1 class="profile"><a href="{%url 'profile'%}">Profile</a></h1>
       {%else%}
       {%endif%}
    </nav>
</body>    
<style>
 h1 a{
     text-decoration: none;
     color: brown;
 }
</style>
<script src="{% static 'script.js'%}"></script>
<script>
    function devi43(){
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxx'.replace(/[xy]/g,function(c){
            var r=Math.random()* 16 | 0,v= c == 'x'? r: (r & 0x3| 0x8);
            return v.toString(16);
        });
    }
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    let device=getCookie('device')
    if(device==null||device==undefined){
        device=devi43()
    }
    document.cookie='device='+ device + ';domain=;path=/'
</script>
</html>